@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar,
div::-webkit-scrollbar{
    display: none;
}

body, div{
    -ms-overflow-style: none;
    scrollbar-width: none;
}